<% content_for :head do %>
    All Photos
<% end %>

<% @photo.each do |photo| %>
    <div class="col-md-3">
      <%= link_to image_tag(photo.url, class: 'img-responsive'), photo_path(photo) %>
      <%= content_tag :div, photo.title, class: 'photo_title' %>
      <%= content_tag :div, photo.author, class: 'photo_author' %>
    </div>
<% end %>